<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.betasoft.org.jack.reader" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    	<name>JackReader</name>
    	<js-module name="JackReader" src="www/JackReader.js">
    	    <clobbers target="com.betasoft.org.jack.reader.JackReader" />
    	</js-module>
    	
    	
    	<platform name="android">
	    	<config-file parent="/*" target="res/xml/config.xml">
	    	    <feature name="JackReader">
	    	        <param name="android-package" value="com.betasoft.org.jack.reader.JackReader" />
	    	    </feature>
	    	 </config-file>
	    	 
    	 	 <config-file parent="/*" target="AndroidManifest.xml" >
    	 	 	 	<uses-permission android:name="android.permission.RECORD_AUDIO" />
    	 	 </config-file>	
    	 			<source-file src="src/android/com/betasoft/org/jack/reader/JackReader.java" target-dir="src/com/betasoft/org/jack/reader/" />
    	 			<source-file src="src/android/com/betasoft/org/jack/reader/CardResult.java" target-dir="src/com/betasoft/org/jack/reader/" />
    	 	 	    <source-file src="src/android/libs/square.jar" target-dir="libs" />
    	</platform> 
		
		
		<platform name="ios">
	    
	    
	    <config-file target="config.xml" parent="/*">
            <feature name="JackReader">
                 <param name="ios-package" value="JackReader"/>
                 <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/JackReader.h" />
        <source-file src="src/ios/JackReader.m" />
        <header-file src="src/ios/iMagRead.h" />
        
        <framework src="src/ios/libs/libiMagRead.a" target-dir="plugins/" />
	    <framework src="MediaPlayer.framework" />
	    <framework src="AVKit.framework" />
	    <framework src="AVFoundation.framework" />
        
		</platform>
		
		
    </plugin>