<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.deftsoft.org.jack.reader" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    	<name>JackReader</name>
    	<js-module name="JackReader" src="www/JackReader.js">
    	    <clobbers target="com.deftsoft.org.jack.reader.JackReader" />
    	</js-module>
    	
    	
    	<platform name="android">
	    	<config-file parent="/*" target="res/xml/config.xml">
	    	    <feature name="JackReader">
	    	        <param name="android-package" value="com.deftsoft.org.jack.reader.JackReader" />
	    	    </feature>
	    	 </config-file>
	    	 
    	 	 <config-file parent="/*" target="AndroidManifest.xml" >
    	 	 	 	<uses-permission android:name="android.permission.RECORD_AUDIO" />
    	 	 </config-file>	
    	 	 <config-file target="AndroidManifest.xml" parent="/manifest/application">
					<uses-permission android:name="android.permission.RECORD_AUDIO" />
		</config-file>
    	 	 
    	 			<source-file src="src/android/com/deftsoft/org/jack/reader/JackReader.java" target-dir="src/com/deftsoft/org/jack/reader/" />
    	 			<source-file src="src/android/com/deftsoft/org/jack/reader/CardResult.java" target-dir="src/com/deftsoft/org/jack/reader/" />
    	 	 	    <source-file src="src/android/libs/square.jar" target-dir="libs" />
    	</platform>  
    </plugin>